<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>M_bamboo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,0},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,75},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_bamboo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,150},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,225},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,225},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,225},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,225},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_character_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,300},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,300},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,300},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,375},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,375},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,375},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,375},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,450},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,450},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_dot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,450},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,450},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,638},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_east.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,751},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_north.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,864},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_south.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,525},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
			<key>M_wind_west.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,525},{75,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Z_my.png</string>
			<key>realTextureFileName</key>
			<string>Z_my.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>