<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>B_bamboo_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,260},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,432},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,346},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,260},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,174},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,173},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,173},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,173},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_bamboo_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,317},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,231},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,116},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,116},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,145},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,116},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,88},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,59},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,59},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_character_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,59},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,59},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,432},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,346},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,260},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,174},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,88},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_dot_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_green_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_red_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_white_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_wind_east_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_wind_north_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_wind_south_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>B_wind_west_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
            <key>e_mj_b_up_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,84}}</string>
                <key>sourceSize</key>
                <string>{55,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_bottom_3d.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:441b7267f916dd82c0e24443ea87abaf:1/1$</string>
            <key>textureFileName</key>
            <string>Z_bottom_3d.png</string>
        </dict>
    </dict>
</plist>
