<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>B_bamboo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_bamboo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,0},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,139},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,223},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,307},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,391},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_character_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,55},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,110},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,110},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,110},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,110},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,139},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_dot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,223},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,165},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,220},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,165},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_wind_east.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,220},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_wind_north.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,165},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_wind_south.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,165},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>B_wind_west.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,220},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
			<key>e_mj_b_up1.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,223},{55,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Z_bottom.png</string>
			<key>realTextureFileName</key>
			<string>Z_bottom.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>