<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_bamboo_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_bamboo_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_character_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_1_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_2_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_3_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_4_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_5_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_6_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_7_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_8_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_dot_9_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_green_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_red_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_white_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_east_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_north_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_south_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
            <key>M_wind_west_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Z_my_3d.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83189213ee96749296a84caf1f9690c1:1/1$</string>
            <key>textureFileName</key>
            <string>Z_my_3d.png</string>
        </dict>
    </dict>
</plist>
