<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{145,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{193,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{241,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{289,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{337,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{385,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{433,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{481,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{529,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{577,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fangkuai_small.png</string>
            <key>size</key>
            <string>{624,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e04986962ff56565f746ca533567b64:f24dacfeb5f22e40ea37f049f4ae6bae:719925311466c066e134dbfad033cb04$</string>
            <key>textureFileName</key>
            <string>fangkuai_small.png</string>
        </dict>
    </dict>
</plist>
