<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_404.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_405.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_406.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{145,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_407.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{193,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_408.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{241,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_409.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{289,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_410.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{337,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_411.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{385,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_412.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{433,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_413.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{481,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_414.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{529,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_415.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{577,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heitao_small.png</string>
            <key>size</key>
            <string>{624,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7640c2f7c762101e9abfe708fc4b9ea0:abb675bf837c7ff12148a5d92d9eb97c:2a456445c6b2562fcd79e153c7c44e0e$</string>
            <key>textureFileName</key>
            <string>heitao_small.png</string>
        </dict>
    </dict>
</plist>
