<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{145,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{193,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{241,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{289,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{337,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{385,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{433,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{481,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{529,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{46,60}</string>
                <key>textureRect</key>
                <string>{{577,1},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meihua_small.png</string>
            <key>size</key>
            <string>{624,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3c27a49a152afe66d2d4d58a8fed313:beb03759eb1973a2c5e1b6f85d2fb915:6a919373543bff42ced432dcb56329d5$</string>
            <key>textureFileName</key>
            <string>meihua_small.png</string>
        </dict>
    </dict>
</plist>
