<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{466,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{621,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{776,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{931,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1086,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1241,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1396,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1551,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1706,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1861,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fangkuai.png</string>
            <key>size</key>
            <string>{2015,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e1a19428047ec3805fa5260828aa85:ee11d8485b45fe93719fefd9587ba27b:92ddeff4395ec302367da2c1ebf1a694$</string>
            <key>textureFileName</key>
            <string>fangkuai.png</string>
        </dict>
    </dict>
</plist>
