<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{466,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{621,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{776,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{931,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1086,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1241,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1396,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1551,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1706,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1861,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hongtao.png</string>
            <key>size</key>
            <string>{2015,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d0a4037065c0783d9addd87d3deb63:1088329bafd3bf967fdc5571a499bea4:b1f3500fcb0d494ca1446ba321fe0759$</string>
            <key>textureFileName</key>
            <string>hongtao.png</string>
        </dict>
    </dict>
</plist>
