<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Card_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{156,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{311,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{466,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{621,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{776,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{931,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1086,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1241,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1396,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1551,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1706,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Card_215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,210}</string>
                <key>spriteSourceSize</key>
                <string>{153,210}</string>
                <key>textureRect</key>
                <string>{{1861,1},{153,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>meihua.png</string>
            <key>size</key>
            <string>{2015,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6b75beeb55f02a98e1a6237e336c771:ba9d3b512e54eba1294a370cf67657c5:a3519dbf57b707dc2146bd6a690f5775$</string>
            <key>textureFileName</key>
            <string>meihua.png</string>
        </dict>
    </dict>
</plist>
