<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shou3.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>122</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shouzhi1.png</key>
			<dict>
				<key>width</key>
				<integer>259</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>259</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shou2.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>313</integer>
				<key>originalHeight</key>
				<integer>238</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>guanga_00000.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>195</integer>
				<key>originalWidth</key>
				<integer>203</integer>
				<key>originalHeight</key>
				<integer>195</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heise.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>50</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>297</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuangdong/kuangdong_00000.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>261</integer>
				<key>y</key>
				<integer>240</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>kuangdong/kuangdong_00002.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>349</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuangdong/kuangdong_00004.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuangdong/kuangdong_00006.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>410</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>kuangdong/kuangdong_00007.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>75</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yan1/yan2_00000.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>591</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>yan1/yan2_00002.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>571</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>yan1/yan2_00004.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>747</integer>
				<key>y</key>
				<integer>122</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>yan1/yan2_00006.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-7.5</real>
			</dict>
			<key>yan1/yan2_00008.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>726</integer>
				<key>y</key>
				<integer>253</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>yan1/yan2_00010.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>673</integer>
				<key>y</key>
				<integer>384</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>yan1/yan2_00012.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>901</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>yan1/yan1_00011.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>831</integer>
				<key>y</key>
				<integer>360</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>yan1/yan1_00013.png</key>
			<dict>
				<key>width</key>
				<integer>211</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>494</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>yan1/yan1_00015.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>607</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>yan1/yan1_00017.png</key>
			<dict>
				<key>width</key>
				<integer>239</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>730</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>yan1/yan1_00019.png</key>
			<dict>
				<key>width</key>
				<integer>243</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>855</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>yan1/yan1_00021.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>239</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>yan1/yan1_00023.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>483</integer>
				<key>y</key>
				<integer>499</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>yan1/yan1_00025.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>yan1/yan1_00027.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>759</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>yan1/yan1_00029.png</key>
			<dict>
				<key>width</key>
				<integer>241</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>250</integer>
				<key>originalHeight</key>
				<integer>150</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>629</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>shitou/shitou_00000.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>257</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
			<key>shitou/shitou_00001.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>shitou/shitou_00002.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>490</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>shitou/shitou_00003.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>489</integer>
				<key>y</key>
				<integer>753</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>shitou/shitou_00004.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>884</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>shitou/shitou_00005.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>886</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-23.5</real>
			</dict>
			<key>shitou/shitou_00006.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>302</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>-28</real>
			</dict>
			<key>shitou/shitou_00007.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>378</integer>
				<key>y</key>
				<integer>935</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>shitou/shitou_00008.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>200</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>487</integer>
				<key>y</key>
				<integer>835</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>lie/liefena2_00003.png</key>
			<dict>
				<key>width</key>
				<integer>228</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>lie/liefena2_00004.png</key>
			<dict>
				<key>width</key>
				<integer>271</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>658</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>lie/liefena2_00007.png</key>
			<dict>
				<key>width</key>
				<integer>313</integer>
				<key>height</key>
				<integer>77</integer>
				<key>originalWidth</key>
				<integer>320</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>646</integer>
				<key>y</key>
				<integer>753</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>dididiid.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>100</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>205</integer>
				<key>y</key>
				<integer>471</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>SXzimotexiaoDH_fen0.png</string>
			<key>realTextureFileName</key>
			<string>SXzimotexiaoDH_fen0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>