<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dt_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,596},{44,42}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{44,42}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>dt_checkbox_duihao.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,716},{40,38}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{40,38}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>dt_create_room_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{240,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{240,84}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,84}}</string>
                <key>sourceSize</key>
                <string>{260,84}</string>
            </dict>
            <key>dt_create_room_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{44,196}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,196}}</string>
                <key>sourceSize</key>
                <string>{70,196}</string>
            </dict>
            <key>dt_create_room_img_ankang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,294},{192,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{192,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_ankang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{206,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,12},{206,58}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_dafangpao_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,756},{122,38}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{122,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_dafangpao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,586},{136,52}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,15},{136,52}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_daguozi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{186,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{186,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_daguozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{200,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{200,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_gsj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,640},{116,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,22},{116,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_gsj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,462},{130,56}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,14},{130,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_gsj2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,426},{174,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,22},{174,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_gsj2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,282},{188,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{188,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_happyDDZ0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,398},{180,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{180,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_happyDDZ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,204},{194,56}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{194,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jiangxian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,444},{178,42}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,22},{178,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jiangxian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,236},{192,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{192,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jinzhong0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,226},{86,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{86,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jinzhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,180},{100,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,13},{100,58}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jishan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,402},{178,42}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{178,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_jishan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{192,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{192,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_king0.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,510},{160,40}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{160,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_king1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{174,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{174,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,148},{88,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,24},{88,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,576},{102,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,17},{102,50}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,470},{162,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{162,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{178,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{178,50}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{162,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{162,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_koudian3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,524},{176,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{176,50}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lf0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,352},{186,44}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,21},{186,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,210},{200,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{200,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lgf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,180},{202,54}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{202,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lgf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,272},{188,40}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{188,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_linfenDDZ0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,380},{178,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{178,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_linfenDDZ1.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,254},{192,56}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{192,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_linyi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,362},{184,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{184,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_linyi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,200},{200,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{200,52}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lisi0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,188},{88,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,24},{88,36}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_lisi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,472},{102,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,16},{102,50}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_pokerPDK_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,596},{118,42}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,23},{118,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_pokerPDK_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,452},{132,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,15},{132,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_rain0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{164,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{164,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_rain1.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,272},{178,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,14},{178,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tdh0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{118,38}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,24},{118,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tdh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,470},{132,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,16},{132,52}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,632},{168,42}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,23},{168,42}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,412},{182,56}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,15},{182,56}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tuidaohu2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{178,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{178,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tuidaohu2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,262},{192,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{192,52}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tuidaohu3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,340},{186,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{186,38}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_tuidaohu3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,146},{200,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{200,52}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{238,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{238,78}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_weinan0.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,676},{162,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{162,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_weinan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{176,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{176,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_xa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,502},{160,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{160,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_xa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,576},{174,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{174,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_xyPoint0.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,316},{188,44}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{188,44}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_xyPoint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,144},{202,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{202,58}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_yangquan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,544},{154,40}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{154,40}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_img_yangquan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,446},{168,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,15},{168,54}}</string>
                <key>sourceSize</key>
                <string>{242,84}</string>
            </dict>
            <key>dt_create_room_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,88},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dt_create_shanxi1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,88},{214,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{214,56}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_shanxi1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,118},{214,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{214,60}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_shanxi2.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,60},{216,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{216,56}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_shanxi2.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{216,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{216,56}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_shanxi3.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{214,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{214,56}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_shanxi3.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,82},{214,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{214,60}}</string>
                <key>sourceSize</key>
                <string>{216,66}</string>
            </dict>
            <key>dt_create_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{200,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{200,40}}</string>
                <key>sourceSize</key>
                <string>{206,46}</string>
            </dict>
            <key>dt_create_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,488},{178,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{178,34}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>dt_create_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{188,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{188,38}}</string>
                <key>sourceSize</key>
                <string>{192,40}</string>
            </dict>
            <key>dt_create_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,312},{188,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{188,38}}</string>
                <key>sourceSize</key>
                <string>{192,40}</string>
            </dict>
            <key>moreInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanfaals.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52c393d87cbcc31d07515f971becb124$</string>
            <key>textureFileName</key>
            <string>wanfaals.png</string>
        </dict>
    </dict>
</plist>
