<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_my_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1172,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1465,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1172,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1465,518},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1172,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1465,777},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1172,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1172,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1465,1036},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{1465,0},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,1295},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{0,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,1295},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{293,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,1295},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{586,259},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ani_my_91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,259}</string>
                <key>spriteSourceSize</key>
                <string>{293,259}</string>
                <key>textureRect</key>
                <string>{{879,1295},{293,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aniCards.png</string>
            <key>size</key>
            <string>{1758,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f83fd370c2159c77b7739523e0e8bf92:4963dd327067b07f492efd507a3bd3ca:5037db89be08c1ff2af24177201febf9$</string>
            <key>textureFileName</key>
            <string>aniCards.png</string>
        </dict>
    </dict>
</plist>
